body {
    margin: 0 auto;
}



.logo-sfondo {
    height: 200px;
    background-color: #62a2da;
    background-image: url(../img/pattern.png);
    background-position: center top;
    background-size: 800px;

}

.logo-sfondo img {
    height: 80px;
    margin-top: 100px;
}

.titolo {
    margin-left: 15px;
}

.titolo h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

.titolo a {
    text-decoration: none;
    color: rgb(0, 153, 255)
}

.autore {
    font-size: 38px;
    margin: 5px 0 0 0;
    color: rgba(0, 0, 0, 0.475);
    font-weight: 600;
}

.data {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.475);
    font-weight: 600;
}

.img-tim {
    width: 100%;
    margin-left: 15px;


}

.img-tim img {
    width: 900px
}

.desczione-foto {
    margin: 5px;
    font-weight: 500;
}